html {
  background: #eee;
}
body {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 1em;
  box-shadow: 0 0 8px #999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0 15px;
    padding: 0;
    font-weight: bold;
    line-height: 1.7;
    cursor: text;
    position: relative
}
h1 {
    font-size: 2.5em;
    border-bottom: 1px solid #ddd
}
h2 {
    font-size: 2em;
    border-bottom: 1px solid #eee
}
h3 {
    font-size: 1.5em
}
p,
blockquote,
ul,
ol,
dl,
table,
pre {
    margin: 15px 0
}
blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777
}
blockquote>:first-child {
    margin-top: 0px
}
blockquote>:last-child {
    margin-bottom: 0px
}
